<div class="mx-auto my-52 bg-zinc-500 w-2/4 h-20 shadow-xl">
  <form [formGroup]="domainQueryForm" class="flex flex-row">
    <input formControlName="sldInput" class="w-3/4 h-20 text-xl p-10" type="text" placeholder="Enter a domain name" min-length="1" maxlength="63">
    <select [(ngModel)]="selectedTld" formControlName="tldInput" class="text-3xl">
      <option value="com">.com</option>
      <option value="net">.net</option>
    </select>
    <button class="w-1/4 h-20 bg-teal-600 text-xl text-white font-extralight">Search</button>
  </form>
</div>
