<div class="mx-auto  bg-zinc-500 w-2/4 h-20 shadow-xl">
  <form [formGroup]="domainQueryForm" (ngSubmit)="onSubmit()" class="flex flex-row">
    <input (keydown)="onKey($event)" formControlName="sldInput" class="min-w-fit w-3/4 h-20 text-xl p-10 text-zinc-800" type="text" placeholder="Enter a domain name" type="text" min-length="1" maxLength="63" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
    <select formControlName="tldInput" class="text-3xl bg-zinc-200">
      <option value="com">.com</option>
      <option value="net">.net</option>
    </select>
    <button [disabled]="!domainQueryForm.valid" type="submit" class="w-1/4 h-20 bg-teal-600 text-xl text-white font-extralight active:bg-teal-800 active:font-semibold">Search</button>
  </form>
  <p class="" *ngIf="domainQueryForm.invalid" class='text-red-900 text-xs pl-2 pt-1 italic'  id="alert-input">Your input is {{ domainQueryForm.status }}</p>
  <p class="" *ngIf="domainQueryForm.valid" class='text-teal-700 text-xs pl-2 pt-1 italic'  id="alert-input">Your input is {{ domainQueryForm.status }}</p>
</div>
