<body class="bg-red-200">
  <app-header />
  <div class="grid grid-rows-20 grid-cols-12 grid-flow-col gap-3 bg-red-200">
    <aside
      class="row-start-2 col-start-2 col-end-11 min-w-fit max-w-xs sm:row-span-2 sm:row-start-3 sm:col-start-10 col-span-2 bg-red-200 md:col-start-2 md:col-end-2 md:row-start-2">
      <app-watch-list />
    </aside>
    <main
      class="bg-red-200 max-h-fit row-start-3 row-span-2 sm:col-start-1 sm:col-end-9 col-start-2 col-end-12 md:mr-36 md:col-start-3 md:col-end-12 md:row-start-2 lg:col-start-4 lg:-ml-20 lg:mr-10">
      <app-search-bar />
      <app-search-results />
    </main>
  </div>
</body>
